*{
	font-family: CircularStd;

}

h1{
	font-weight: 500;
	font-size: 1.65em;
}

h2{
	font-weight: 400;
	font-size: 1.1em;
	padding-top: 0.5em;
	line-height: 1.5em;
}

h3{
	padding-top: 0.5em;
	font-size: 0.7em !important;
    font-weight: 400;
    letter-spacing: 0.1666666667em !important;
    line-height: 1rem;
    text-transform: uppercase;
}

p{
	padding-bottom: 0;
	margin-bottom: 0;
}

.title{
	padding-bottom: 2em;
}
#white{
	padding: 5em 6em 0 6em;
		background-color: white;
}

.routines{
	margin-top: 1.5em;
/*	margin-right: 3em;*/
	padding: 0.5em 0.5em 3em 0.5em;
	word-wrap: normal;
}

.products{
	margin-top: 1.5em;
/*	margin-right: 3em;*/
	padding: 0.5em 0.5em 0.25em 0.5em;
	word-wrap: normal;
}

#routine-title{
	font-size: 1em;
}

#no-p{
	padding:0;
}

#no-pm{
	padding-bottom:0;
	margin-bottom: 0;
}

#product-title{
	font-size: 1em;
	font-weight: 300;
	margin: 0.5em 0 0.75em 0;
	padding: 0;
	word-wrap: normal;
}

#brand-title{
	font-size: 1em;
	font-weight: 300;
	margin: 0.7em 0 -0.1em 0;
	padding: 0;
	word-wrap: normal;
}

#nav-link{
	color:black;
	text-decoration: none;
/*	text-transform: capitalize;
	letter-spacing: 0em;*/
    letter-spacing: 0.1666666667em !important;
    font-weight: 100;
}

#link{
	color:white;
	text-decoration: none;
}

#subtitle{
	padding-top: 0;
}

.non-title-h2{
	font-size: 1.35em;
	padding-bottom: 0.15em;
}

.non-title-p{
	font-size: 1.05em;
}

.tab{
  border-style: solid;
  border-color: #00000038;
  border-width: 0.5px;
	margin: 3% 5%;
	padding: 3.5%;
}

.row{
	display: flex;
}

#help{
	margin-left: 0;
}

.column-1{
	flex: 25%;
}

.column-2{
	padding-left: 2em;
	flex: 75%;
}

.right-aligned{
	text-align: right;
}
/*.img-container{
width: 10%;
}*/

.ingredient-title{
	font-weight: 500;
	font-size: 1.2em;
}

span{
	padding-right: 0.5%;
}
